@import "tailwindcss";

:root {
	--background: #fffffa;
	--background-dark: #f4f2e2;
	--foreground: #7a7442;
}

@theme inline {
	--color-background: var(--background);
	--color-background-2: var(--background-dark);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
