@import "tailwindcss";

@font-face {
	font-family: "Body";
	src: url("/fonts/flamasemicondensed.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Title";
	src: url("/fonts/title.TTF") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Header";
	src: url("/fonts/headers.TTF") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Details";
	src: url("/fonts/details.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

:root {
	--background: #fffffa;
	--background-dark: #f4f2e2;
	--foreground: #7a7442;
	--foreground-light: #95916b;
	--highlight-dark: #d44407;
	--highlight: #f54900;
}

@theme inline {
	--color-background: var(--background);
	--color-background-2: var(--background-dark);
	--color-foreground: var(--foreground);
	--color-foreground-light: var(--foreground-light);
	--color-highlight: var(--highlight);
	--color-highlight-dark: var(--highlight-dark);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-body: "Body", sans-serif;
	--font-title: "Title", serif;
	--font-header: "Header", serif;
	--font-details: "Details", sans-serif;
}

@layer components {
	.h1 {
		@apply font-header text-4xl font-bold leading-8 text-highlight;
	}

	.h2 {
		@apply font-header text-xl font-light;
	}

	.h3 {
		@apply font-body text-lg;
	}

	.h3.highlight {
		@apply text-highlight;
	}

	a {
		@apply text-xs underline bg-highlight/10 text-highlight p-2 rounded-md;
	}

	p,
	.body {
		@apply font-body text-sm md:text-base leading-relaxed;
	}

	.body-small {
		@apply font-body text-xs md:text-sm leading-relaxed;
	}

	.details {
		@apply font-details text-base leading-normal;
	}
}

html,
body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}
